@{
    ViewData["Title"] = "Employee";
    int a = 1;
}



<div class="text-center">
    <h1 class="display-6 font-monospace fw-bold text-center">Employee Detail</h1>
    
</div>
<br />

@*@model WebApplication1.Models.Employee*@


@*<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />*@


<table class="table" id="employee">
    <thead>
        <tr>
            <th scope="col">SN</th>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Job</th>
            <th scope="col">Phone</th>
            <th scope="col">Post</th>
            <th scope="col">Dob</th>
            <th scope="col">Gender</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
         


        @foreach(var Employee in Model){

        
        
           <tr>
                
@*
             
              {*@
                  <th>@a</th>
                @*<th scope="row">@Employee.Id</th>*@
                <td>@Employee.Email</td>
                <td>@Employee.Name</td>
                <td>@Employee.Address</td>
                <td>@Employee.Job</td>
                <td>@Employee.Phone</td>
                <td>@Employee.Post</td>
                <td>@Employee.Dob.ToString("dd-mm-yyyy")</td>
                <td>@Employee.Gender</td>
                <td><img src="~/Images/@Employee.Image" style="width:30px; height:30px"/></td>
                
                @{
                    a++;
                }
             
               
                <td >
                    <div class="row">
                        <div class="col-6 mx-auto">
                            <div class="d-flex align-items-center justify-content-evenly">
                    <Form method="get" asp-controller="Employee" asp-action="Edit">
                    <input type="hidden" name="id" value="@Employee.Id">
                                    <button type="submit" class="btn btn-success px-2" style="font-size: 10px;">
                                        <i class="bi bi-pen" style="font-size: 15px;"></i></button>
                    </Form><br>

                  

                    <Form method="get" asp-controller="Employee" asp-action="Delete">
                        <input type="hidden" name="id" value="@Employee.Id">
                                    <button type="submit" class="btn btn-danger ms-lg-2" style="font-size: 10px;"><i class="bi bi-trash" style="font-size: 15px;"></i></button>
                    </Form><br>
                    </div>
                    </div>
                    </div>
                    
            </td>
           </tr>
          }

       
        
          
            
        
        </tbody>
    </table>

    <script>
    //let oTable = $('#employee').DataTable({
    //    paging: false,
    //    "order": []
    //});

    //$('#mysearch').keyup(function () {
    //    oTable.search($(this).val()).draw();
    //})
    
    </script>