@model WebApplication1.Models.Employee
@*<h2>Contact</h2>
<Employee>
    <p class="text-warning display-6">Street:@Model.Street<br /></p>
    <p class="text-warning, display-6">@Model.City</p>
    <p class="text-warning display-6">@Model.State</p>
    <p class="text-warning display-6">@Model.PostalCode<br>
    <abbr title="Phone">P:</abbr> 425.555.0100

</Employee>*@

<h2>Form Information</h2>
<Form>
    Name: @Model.Name<br />
    Email: @Model.Email<br />
    Password: @Model.Address<br />

</Form>



